POSTGRES_USER=string
POSTGRES_PASSWORD=string
POSTGRES_MULTIPLE_DATABASES=commma seprated string

# Keycloak Config
DB_VENDOR=POSTGRES
DB_ADDR=database address
DB_DATABASE=database name
DB_USER=db user
DB_SCHEMA=public
DB_PASSWORD=database password
KEYCLOAK_USER= admin user
KEYCLOAK_PASSWORD= admin password

# Prisma Config
DATABASE_URL=postgresql://username:password@dbhost:dbport/database

# API Config
HOST=host address
PORT=host port
APP_SECRET=app sercret
APP_ENABLE_COMPRESSION= boolean
APP_ENVIRONMENT=dev / test / prod 
KEYCLOAK_REALM=keycloak realm name
KEYCLOAK_CLIENT_ID= keycloak client id
KEYCLOAK_CLIENT_SECRET=keycloak client secret
KEYCLOAK_AUTH_SERVER_URL=keycloak server auth url