@import "../../../../assets/variables.scss";
.header-container {
  display: flex;
  justify-content: space-between;

  .header {
    display: flex;
    align-content: flex-start;
  }

  .header-buttons {
    display: flex;
    align-content: flex-end;
    height: fit-content;
    gap: 2rem;
  }
}

.title {
  display: table-cell;
  text-align: left;
  font-family: Georgia;
  font-size: 32px;
  font-weight: normal;
}
.action-button {
  text-transform: uppercase;
  min-width: 7.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.15rem;
  font-size: 14px;
}
app-status-badge {
  display: inline-block;
  margin-left: 1rem;
}

.form-section {
  margin-top: 1rem;
}
