@import "../../../../../assets/variables.scss";

.info-container {
    padding-left: 3rem;
    align-content: flex-start;
    margin-inline-end: 3rem;
    margin-top: 2rem;

    .sub-title {
        font-family: Arial;
        font-style: italic;
        color: #11141a;
        opacity: 0.5;
        font-size: 1.125rem;
    }
}

.form-field {
    width: 50rem;
}

.add-label {
    margin-left: 1rem;
    letter-spacing: 0.15px;
}

.add-button {
    background-color: $blue-text;
    color: $light-text;
}

.info-margin-bottom {
    margin-bottom: auto;
}
